.certificates-father {
  display: flex;
  flex-direction: column;  
  width: 280px;
  transition: all 0.4s;
}

.certificates-father img {
  transition: all 0.4s;
}

.certificates-father:hover {
  color: var(--link)
}

.certificates {
  margin-top: 16px;
  width: 280px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.09);
  border-radius: 8px;
}

.certificates:hover {
cursor: pointer;
transform: scale(1.04);
transition: transform 0.3s ease;
} 

.certificates-text {
 text-align: center;
 padding-top: 16px;
 font-weight: 600;
 font-size: 15px;
}